@import "tailwindcss";
/*
@plugin "daisyui";
Revisar si debo de cambiar esto por el plugin de daisyui.
*/
@theme {
  /* FONTS */
  --font-primary: "Funnel Sans", sans-serif;
  --breakpoint-3xl: 120rem;

    /* DARK COLORS */
  --color-darkBackground:#0D1529;
  --color-darkComponent: #1A2734;
  --color-darkComponent2: #010515;
  --color-darkComponentElement: #314157;
  --color-darkPrimary: #1A368B;
  --color-darkPrimary2: #001144;
  --color-darkSecondary: #193AB7;
  --color-darkAccent: #A1B1FF;
  --color-darkNeutral: #BDDAFE;
  --color-darkInfo: #D4D4D8;
  --color-darkSuccess: #00BA7B;
  --color-darkWarning: #FF8904;
  --color-darkDanger: #F82834;

  --color-darkBgText: #E0E2DB;
  --color-darkPSText: #EDF1FE;
  --color-darkAccentText: #1C184B;
  --color-darkNeutralText: #162455;
  --color-darkInfoText: #010515;
  --color-darkSuccessText: #002C21;
  --color-darkWarningText: #7C2808;
  --color-darkDangerText: #440607;

  /* LIGHT COLORS */
  --color-lightBackground: #E2E5E9;
  --color-lightComponent: #C6D2FF;
  --color-lightComponentElement: #8C4FFF;
  --color-lightPrimary: #422AD5;
  --color-lightSecondary: #7C85FF;
  --color-lightAccent: #D8B0FF;
  --color-lightNeutral: #A1B1FF;
  --color-lightInfo: #43546A;
  --color-lightSuccess: #00D390;
  --color-lightWarning: #FCB700;
  --color-lightDanger: #FF6266;

  --color-lightBgText: #010515;
  --color-lightPSText: #E0E7FF;
  --color-lightAccentText: #1C184B;
  --color-lightNeutralText: #010515;
  --color-lightInfoText: #DFE5ED;
  --color-lightSuccessText: #002C21;
  --color-lightWarningText: #7C2808;
  --color-lightDangerText: #440607;


  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

}

/* TYPOGRAPHY */
funnel-sans-<uniquifier> 
{
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* ANIMATION */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  animation: gradientMove linear infinite;
  background-size: 300% 100%;
}

html {
  scroll-behavior: smooth;
}